################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NC Reactor Planner/bin
/.vs
/packages
/NC Reactor Planner/obj
/NC Reactor Planner/Resources
/NC Reactor Planner Tests/bin
/NC Reactor Planner Tests/obj
/NC Reactor Planner Tests/Resources
