<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NC_Reactor_Planner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <NC_Reactor_Planner.Properties.Settings>
            <setting name="FissionPower" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FuelUse" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="HeatGeneration" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="ModeratorExtraPower" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ModeratorExtraHeat" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NeutronReach" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Exist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Water" serializeAs="String">
                <value />
            </setting>
            <setting name="Redstone" serializeAs="String">
                <value />
            </setting>
            <setting name="Quartz" serializeAs="String">
                <value />
            </setting>
            <setting name="Gold" serializeAs="String">
                <value />
            </setting>
            <setting name="Glowstone" serializeAs="String">
                <value />
            </setting>
            <setting name="Lapis" serializeAs="String">
                <value />
            </setting>
            <setting name="Diamond" serializeAs="String">
                <value />
            </setting>
            <setting name="Helium" serializeAs="String">
                <value />
            </setting>
            <setting name="Enderium" serializeAs="String">
                <value />
            </setting>
            <setting name="Cryotheum" serializeAs="String">
                <value />
            </setting>
            <setting name="Iron" serializeAs="String">
                <value />
            </setting>
            <setting name="Emerald" serializeAs="String">
                <value />
            </setting>
            <setting name="Copper" serializeAs="String">
                <value />
            </setting>
            <setting name="Tin" serializeAs="String">
                <value />
            </setting>
            <setting name="Magnesium" serializeAs="String">
                <value />
            </setting>
            <setting name="TBU" serializeAs="String">
                <value />
            </setting>
            <setting name="TBU__Oxide" serializeAs="String">
                <value />
            </setting>
            <setting name="LEU_233" serializeAs="String">
                <value />
            </setting>
            <setting name="LEU_233__Oxide" serializeAs="String">
                <value />
            </setting>
            <setting name="HEU_233" serializeAs="String">
                <value />
            </setting>
            <setting name="HEU_233__Oxide" serializeAs="String">
                <value />
            </setting>
            <setting name="LEU_235" serializeAs="String">
                <value />
            </setting>
            <setting name="LEU_235__Oxide" serializeAs="String">
                <value />
            </setting>
            <setting name="HEU_235" serializeAs="String">
                <value />
            </setting>
            <setting name="HEU_235__Oxide" serializeAs="String">
                <value />
            </setting>
            <setting name="LEN_236" serializeAs="String">
                <value />
            </setting>
            <setting name="LEN_236__Oxide" serializeAs="String">
                <value />
            </setting>
            <setting name="HEN_236" serializeAs="String">
                <value />
            </setting>
            <setting name="HEN_236__Oxide" serializeAs="String">
                <value />
            </setting>
            <setting name="LEP_239" serializeAs="String">
                <value />
            </setting>
            <setting name="LEP_239__Oxide" serializeAs="String">
                <value />
            </setting>
            <setting name="HEP_239" serializeAs="String">
                <value />
            </setting>
            <setting name="HEP_239__Oxide" serializeAs="String">
                <value />
            </setting>
            <setting name="LEP_241" serializeAs="String">
                <value />
            </setting>
            <setting name="LEP_241__Oxide" serializeAs="String">
                <value />
            </setting>
            <setting name="HEP_241" serializeAs="String">
                <value />
            </setting>
            <setting name="HEP_241__Oxide" serializeAs="String">
                <value />
            </setting>
            <setting name="MOX_239" serializeAs="String">
                <value />
            </setting>
            <setting name="MOX_241" serializeAs="String">
                <value />
            </setting>
            <setting name="LEA_242" serializeAs="String">
                <value />
            </setting>
            <setting name="LEA_242__Oxide" serializeAs="String">
                <value />
            </setting>
            <setting name="HEA_242" serializeAs="String">
                <value />
            </setting>
            <setting name="HEA_242__Oxide" serializeAs="String">
                <value />
            </setting>
            <setting name="LECm_243" serializeAs="String">
                <value />
            </setting>
            <setting name="LECm_243__Oxide" serializeAs="String">
                <value />
            </setting>
            <setting name="HECm_243" serializeAs="String">
                <value />
            </setting>
            <setting name="HECm_243__Oxide" serializeAs="String">
                <value />
            </setting>
            <setting name="LECm_245" serializeAs="String">
                <value />
            </setting>
            <setting name="LECm_245__Oxide" serializeAs="String">
                <value />
            </setting>
            <setting name="HECm_245" serializeAs="String">
                <value />
            </setting>
            <setting name="HECm_245__Oxide" serializeAs="String">
                <value />
            </setting>
            <setting name="LECm_247" serializeAs="String">
                <value />
            </setting>
            <setting name="LECm_247__Oxide" serializeAs="String">
                <value />
            </setting>
            <setting name="HECm_247" serializeAs="String">
                <value />
            </setting>
            <setting name="HECm_247__Oxide" serializeAs="String">
                <value />
            </setting>
            <setting name="LEB_248" serializeAs="String">
                <value />
            </setting>
            <setting name="LEB_248__Oxide" serializeAs="String">
                <value />
            </setting>
            <setting name="HEB_248" serializeAs="String">
                <value />
            </setting>
            <setting name="HEB_248__Oxide" serializeAs="String">
                <value />
            </setting>
            <setting name="LECf_249" serializeAs="String">
                <value />
            </setting>
            <setting name="LECf_249__Oxide" serializeAs="String">
                <value />
            </setting>
            <setting name="HECf_249" serializeAs="String">
                <value />
            </setting>
            <setting name="HECf_249__Oxide" serializeAs="String">
                <value />
            </setting>
            <setting name="LECf_251" serializeAs="String">
                <value />
            </setting>
            <setting name="LECf_251__Oxide" serializeAs="String">
                <value />
            </setting>
            <setting name="HECf_251" serializeAs="String">
                <value />
            </setting>
            <setting name="HECf_251__Oxide" serializeAs="String">
                <value />
            </setting>
        </NC_Reactor_Planner.Properties.Settings>
    </userSettings>
</configuration>